<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Online Shop</title>
  </head>

  <body class="bg-secondary bg-opacity-10">
    <nav class="navbar navbar-expand-lg bg-light shadow">
      <div class="container">
        <a class="navbar-brand" href="/" style="height: 50px;">
          <img src="/assets/img/img-logo.png" alt="logo-brand" style="height: 80%;"/>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ms-3">
              <a class="nav-link active fw-bolder text-success" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item ms-3">
              <a class="nav-link" href="/products">Product</a>
            </li>
          </ul>
          <a href="/transaction" class="d-flex" style="text-decoration: none;">
            {{#if data.chartLength}}
              <i class="fa-solid fa-cart-shopping text-success"></i>
              <span class="position-absolute bg-danger px-2 rounded-circle text-white" style="right: 100px; top: 15px;">{{data.chartLength}}</span>
            {{else}}
              <i class="fa-solid fa-cart-shopping text-success"></i>
            {{/if}}
          </a>
        </div>
      </div>
    </nav>

    <div class="" style="background-image: url('/assets/img/img-carousel.jpg'); background-size: cover; background-position: center;">
      <div class=" d-flex align-items-center" style="height: 100vh; background-color: white; opacity: .5;">
        <div class="container" style="opacity: 1;" >
          <p class="text-danger m-0">Winter Collection</p>
          <h1 class="fw-bold text-success m-0 fs-1">New Winter Collection 2023</h1>
          <p class="text-secondary">There's Nothing Like Trends</p>

          <div class="my-5">
            <a href="/products" class="btn btn-outline-success text-decoration-none rounded py-2 px-4 me-3">Shop Now</a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white">
      <div class="container mt-5 d-flex pt-5 justify-content-between align-items-center">
        <div class="me-5 mb-0" style="width: 60%;">
          <img src="/assets/img/img-section1.jpg" alt="img-section" style="width: 100%;"/>
        </div>

        <div>
          <h2>Sparkle with Joy, <span class="text-danger">Shine with Style!</span></h2>
          <p>Tampil penting bukan sekadar pilihan, melainkan suatu seni yang mencerminkan kepercayaan diri dan pesona yang tak terlupakan.</p>
          <a href="/products" class="btn btn-outline-success">Click Here</a>
        </div>
      </div>
    </div>

    <div id="carouselExampleSlidesOnly" class="carousel slide container py-5" data-bs-ride="carousel">
      <h2 class="text-center text-danger">Testimonials</h2>
      <div class="carousel-inner">
        {{#each data.reviews}}
        <div class="{{#isReviewActive this.id}} carousel-item active {{else}} carousel-item {{/isReviewActive}}">
          <div class="container d-flex justify-content-center align-items-center flex-column p-5 mt-5 rounded shadow bg-white">
            <div style="width: 350px;">
              <img src={{this.images}} style="width: 100%;"/>
            </div>

            <div class="mt-3">
              <p class="m-0 text-center fst-italic">{{this.commentar}}</p>
              <h4 class="mb-0 mt-3 text-center text-success fw-bold">{{this.name}}</h4>
              <p class="m-0 text-center text-secondary fs-6">{{this.title}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="bg-white py-5">
      <div class="container py-5">
        <h3 class="text-center">Peluang Terbatas! Raih Penawaran Spesial Ini, Belanja Sekarang!</h3>
        <p class="text-center">
          <a href="/products" class="text-success text-decoration-none fst-italic fs-4">Click Here !</a>
        </p>
      </div>
    </div>

    <div class="p-3 bg-black mb-0">
      <p class="text-center text-white">Copyright © @2023. All Right Reserved.Designed By Ester, Novi, Zelda</p>
    </div>
  </body>
</html>